{% extends "base/main.html" %}

{% block content %}
    {% load static %}
    <title>Vertical - Бронирование поездки</title>
    <style>

        .nav-buttons a {
            color: white;
            text-decoration: none;
            margin-left: 15px;
            font-size: 18px;
        }
        form {
            background-color: rgba(162, 162, 162, 0.66);
            padding: 30px;
            border-radius: 30px;
            max-width: 700px;
            margin: 40px auto;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }
        .name_form {
            padding-top: 30px;
            font-size: 20px;
            color: white;
        }

        form input, form button, select {
            width: 100%;
            padding: 15px;
            font-size: 18px;
            border: 1px solid #ffffff;
            border-radius: 5px;
        }
        form input::placeholder {
            color: #6b6b6b;
            font-size: 16px;
        }

        form .full-width {
            grid-column: span 2;
        }
        form button {
            background:
                linear-gradient(
                  30deg,
                  #F5A619 0%,
                  #F36114 40%,
                  #F12B11 100%
                );
            ;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 20px;
        }
        .checkbox-group {
            grid-column: span 2;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
        }
        .checkbox-group label {
            font-size: 18px;
        }
        .checkbox-group input {
            margin-right: 10px;
        }
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .comment-input {
            height: 60px; /* или сколько нужно */
        }
        .checkbox-group .element {
            display: flex;
            justify-content: center;
            flex-direction: row;
        }

        .instruction {
            margin-left: -40px;
            width: 1200px;
          display: flex;
          flex-direction: column;
            align-items: center;
          gap: 40px;
          padding: 10px;
            margin-top: 30px;
        }


        .instruction-row {
          display: flex;
          align-items: center;
          gap: 30px;
        }

        .instruction-row.reverse {
          flex-direction: row-reverse;
        }

        .instr-image {
          width: 500px;
          height: auto;
          border-radius: 12px;
          object-fit: cover;
          flex-shrink: 0;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }

        .instr-text {
          max-width: 700px;
        }

        .instr-text h3 {
          margin: 0 0 10px;
          font-size: 22px;
        }

        .instr-text p {
          margin: 0;
          font-size: 16px;
          line-height: 1.5;
        }
    </style>

    <script>
        $(document).ready(function(){
            $.getJSON("{% static 'cities.json' %}", function(data) {
                $("#from_location, #to_location").autocomplete({
                    source: function(request, response) {
                        var results = $.ui.autocomplete.filter(data, request.term);
                        response(results.slice(0, 100)); // Ограничиваем вывод 10 элементами
                    },
                    minLength: 1, // Минимальное количество символов для активации
                    open: function() {
                        // Добавляем прокрутку к выпадающему меню
                        $(this).autocomplete("widget").css({
                            "max-height": "200px",
                            "max-width": "251px",
                            "overflow-y": "auto",
                            "overflow-x": "hidden"
                        });
                    }
                });
            });
        });
    </script>

    <div class="name_form">
        <h2>Нам нужно больше данных ;)</h2>
    </div>
<form action="" method="POST">
    {% csrf_token %}

    <div class="">
        <input type="text" name="name" required placeholder="Ваше имя">
        <p>Как Вас зовут?</p>
    </div>

    <div class="">
        <input type="tel" name="phone" required oninput="formatPhone(this)" placeholder="Ваш номер">
        <p>Укажите Ваш номер телефона.</p>
    </div>
    <div class="">
        <input type="date" name="date" id="date" min="{{ date_now }}" required>
        <p>Когда Вас забрать? (по МСК)</p>
    </div>
    <div class="">
        <input type="time" name="time" required>
        <p>Во сколько Вас забрать? (по МСК)</p>
    </div>
    <div class="">
        <input type="text" id="from_location" name="from_location" value="{{ from_location }}" required placeholder="Откуда" disabled>
        <p>Изменит нельзя ;)</p>
    </div>
    <div class="">
        <input type="text" id="to_location" name="to_location" value="{{ to_location }}" required placeholder="Куда">
        <p>Куда Вы хотите поехать?</p>
    </div>
    <div class="">
        <input type="number" id="num_people" name="num_people" min="1" max="8" value="{{ num_people }}" required placeholder="Количество человек">
        <p>Сколько Вас будет?</p>
    </div>
    <div class="">
        <input type="number" name="luggage" min="0" max="16" required placeholder="Количество багажа">
        <p>Сколько будет багажа?</p>
    </div>

    <select name="tariff" class="full-width" required>
        <option disabled selected value="">Выберите тариф</option>
        <option>Эконом -> {{ pricing.tariff_price_econom }} руб/км, 3 пассажира</option>
        <option>Стандарт -> {{ pricing.tariff_price_standart }} руб/км, 3 пассажира</option>
        <option>Комфорт -> {{ pricing.tariff_price_comfort }} руб/км, 3 пассажира</option>
        <option>Минивэн -> {{ pricing.tariff_price_miniven }} руб/км, 8 пассажиров</option>
        <option>Бизнес -> {{ pricing.tariff_price_biznes }} руб/км, 3 пассажира</option>
    </select>

    <input type="text" name="comment" class="full-width comment-input" placeholder="Комментарий (необязательно)">


    <div class="checkbox-group">
        <div class="element"><input type="checkbox" name="child_seat" value="Да"><p>Детское кресло</p></div>
        <div class="element"><input type="checkbox" name="pet" value="Да"> Перевозка Животного</div>
    </div>
    <button type="submit" class="full-width">Далее</button>

    {% if error_message %}
        <div style="color: red; font-weight: bold;">
            {{ error_message }}
        </div>
    {% endif %}
</form>

<div class="instruction" id="instruction">
    <div class="name">
        <h1>Инструкция по бронированию трансфера</h1>
    </div>

    <div class="instruction-row">
        <div class="instr-text"><h3>1) </h3></div>
        <img style="width: 350px" src="{% static 'image/instruction_2.png' %}" alt="Фото 2" class="instr-image">
        <div class="instr-text">
            <h3>Заполните форму, нам нужно больше данных ;)</h3>
            <p>
                Заполните все поля: Имя, Номер, дату и тд. Укажите желаемый тариф, дополните все это комментарием с пожеланиями или другой информацией.
                А так же поставьте галочку если будите с ребенком, трансфер будет подан с детским креслом. И если собираетесь путешествовать с домашним животным, то также ставьте галочку, водитель будет готов к животным(В таком случае вы должны быть со своей переноской, см.
                <u><a href="{% url 'rules' %}">Правила Сервиса</a></u>)
            </p>
        </div>
        <img style="width: 350px" src="{% static 'image/instruction_2_1.png' %}" alt="Фото 2" class="instr-image">
    </div>

    <div class="instruction-row" style="max-width: 1200px">
        <div class="instr-text"><h3>2) </h3></div>
        <div class="instr-text">
          <h3>Подробнее о пунктах</h3>
          <ol>
              <li>Имя - Укажите ваше имя по которому водитель сможет обратиться.</li>
              <li>Номер телефона - Номер по которому с вами свяжется оператор или водитель.</li>
              <li>Дата и время - Укажите дату и время когда водителю ожидать вас на месте.</li>
              <li>Пункт назначения - Укажите населенный пункт до которого вам нужно доехать, точный адрес водитель спросит лично.</li>
              <li>Количество человек - Точное кол-во персон для перевозки, учтите, что тарифы кроме "Минивэн" не предусмотрены на кол-во пассажиров больше 4.</li>
              <li>Количество багажа - количество чемоданов, сумок, рюкзаков. Оператору будет проще подобрать машину для вас, если он будет знать кол-во багажа.</li>
              <li>Тариф - Выберите желаемый тариф.</li>
              <li>Комментарий - Расскажите подробнее о ваших пожеланиях.</li>
          </ol>
        </div>
    </div>

    <div class="instruction-row">
        <div class="instr-text"><h3>3) </h3></div>
        <img style="width: 400px" src="{% static 'image/instruction_3.png' %}" alt="Фото 3" class="instr-image">
        <div class="instr-text">
          <h3>Ознакомьтесь с итоговой ценой</h3>
          <p>
              Ознакомьтесь с ценой, все ли Вас устраивает. Так же можете наблюдать за скидкой, она работает в определенное время заказа, см. условия на
              <u><a href="{% url 'index' %}">главной странице</a></u>.
              После чего прочитайте политику конфиденциальности и правила перевозки и нажмите галочки, что все прочитано!
              Как только вы подтвердите, данная заявка отправиться оператору и он с вами свяжется для подтверждения бронирования, а также для получения дополнительной информации!
          </p>
        </div>
    </div>
 </div>

{% endblock %}
