{% extends "base/main.html" %}

{% block content %}
    {% load static %}
    <style>
        body {
          overflow-x: hidden;
        }
        a {
            text-decoration: none;
            color: white;
        }

        form {
            color: white;
            background-color: rgba(162, 162, 162, 0.66);
            padding: 30px;
            border-radius: 30px;
            max-width: 500px;
            margin: 20px auto;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .name_form {
            color: white;
            margin: -10px 0 20px 0;
        }
        form input, select {
            display: block;
            width: 100%;
            height: 45px;
            padding: 15px;
            margin-bottom: 30px;
            font-size: 18px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        form input::placeholder {
            color: #6b6b6b;
            font-size: 16px;
        }
        form button {
            background:
                linear-gradient(
                  30deg,
                  #F5A619 0%,
                  #F36114 40%,
                  #F12B11 100%
                );
            ;
            color: white;
            border: none;
            padding: 15px 40px 15px 40px;
            cursor: pointer;
            border-radius: 10px;
            font-size: 18px;
        }
        .route{
            padding: 20px;
            width: 180px;
            {#background-color: #f9f9f9;#}
            border-radius: 5px;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .footer-links a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
        }
        .bid {
            display: flex;

        }
        .slogan {
            margin: 40px 0;
            font-size: 28px;
            font-weight: bold;
            max-width: 400px;
            margin-left: 100px;
            margin-right: auto;

            text-align: left;
            line-height: 40px;
            text-indent: 10px;
        }
        .quick-routes {
            padding: 100px 0 0 0;

            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .route {
          position: relative;
          width: 750px;
          height: 300px;
          overflow: hidden;
          display: flex;
        }

        .route a {
            position: relative;
            text-decoration: none;
            color: white;
        }

        .city {
          position: relative;
          width: 50%;
          height: 100%;
          overflow: hidden;
        }

        .city img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .city-left {
            margin-left: 5%;

            border-radius: 30px 0 0 30px;
        }

        .city-right {
            border-radius: 0 30px 30px 0;
          clip-path: polygon(11% 0, 100% 0, 100% 100%, 11% 100%);
          margin-left: -10%;

        }

        .route-title {
            background-color: rgba(82, 82, 82, 0.82);
            position: absolute;

            margin-top: 210px;
            margin-left: 35px;
            padding-top: 10px;

            width: 640px;
            height: 50px;

            border-radius: 0 0 30px 30px;

            font-size: 25px;
        }

        .tariffs {
            margin-top: 70px;
        }

        .carousel {
          position: relative;
          width: 500px;
          height: 600px;
          margin: 50px auto;
          {#overflow: hidden;#}
          border-radius: 30px;
        }

        .carousel-track {
          display: flex;
          transition: transform 0.5s ease;
          will-change: transform;
            width: max-content;
        }

        .carousel-item {
          flex: 0 0 500px;
          height: 600px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          background-color: rgba(162, 162, 162, 0.66);
          transition: transform 0.5s, opacity 0.5s;
          border-radius: 30px;
          position: relative;

            flex-direction: column;
        }

        .carousel-item.dimmed {
          transform: scale(0.85);
          opacity: 0.5;
        }

        .carousel-button {
            position: absolute;
            top: 75%;
            height: 40%;
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.16);
            color: #333;
            border: none;
            font-size: 20px;
            padding: 5px 10px;
            cursor: pointer;
            z-index: 0;
            transition: background 0.2s;
        }

        .carousel-button:hover {
          background: rgba(255, 255, 255, 0.8);
        }

        .carousel-button.prev {
          left: 10px;
            border-radius: 0 40px 40px 0;
        }

        .carousel-button.next {
          right: 10px;
            border-radius: 40px 0 0 40px;

        }

        .carousel-indicators {
          display: flex;
          justify-content: center;
          gap: 6px;
          margin-top: 12px;
        }

        .indicator-bar {
          width: 30px;
          height: 4px;
          background-color: #bbb;
          border-radius: 2px;
          transition: background-color 0.3s;
        }

        .indicator-bar.active {
          background-color: #333;
        }

        .tariff-image {
            margin-top: -60px;
            width: 100%;
            height: 250px; /* Примерно 40% от 500px */
            overflow: hidden;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .tariff-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }

        .tariff-title, .tariff-info, .tariff-price {
            margin-top: 15px;
            color: white;
        }

        .hid {
            visibility: hidden; !important;
        }

        .reviews {
            padding-top: 50px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
            margin: 40px 0;
        }

        .reviews-list {
            padding-top: 30px;

            display: flex;
            justify-content: space-evenly;
            align-content: space-around;
        }

        .reviews-item {
            position: relative; /* нужно для позиционирования звёзд */
            padding: 20px;
            width: 250px;
            height: 350px;
            background-color: rgba(162, 162, 162, 0.66);
            border-radius: 30px;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 15px;
        }

        .review {
            flex-grow: 1;
            padding-top: 10px;
            text-align: left;
        }

        .stars {
            position: absolute;
            bottom: 25px;
            left: 20px;
            color: gold;
            font-size: 20px;
        }
        .ocenka {
            position: absolute;
            bottom: 25px;
            right: 20px;
            color: #ffffff;
            font-size: 20px;
        }

        #icon-review {
            margin-bottom: -5px;
            padding-right: 5px;
            width: 40px;
        }

    </style>

    <script>
        $(document).ready(function(){
            $.getJSON("{% static 'cities.json' %}", function(data) {
                $("#from_location, #to_location").autocomplete({
                    source: data,
                    max: 10, // Ограничиваем число предложений до 10
                    minLength: 1 // Количество символов для начала автодополнения
                });
            });
        });
    </script>

    <div class="bid">
        <div class="slogan">Мы помогаем вам быстро, удобно и безопасно добираться из одного города в другой. Путешествуйте с комфортом и доверием!</div>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="name_form">
                <h2>Заполнить заявку</h2>
            </div>
            <label for="from_location"></label><input type="text" id="from_location" name="from_location" required placeholder="Откуда">
            <label for="to_location"></label><input type="text" id="to_location" name="to_location" required placeholder="Куда">
            <label for="num_people"></label><input type="number" id="num_people" name="num_people" min="1" max="8" required placeholder="Кол-во человек">
            <button type="submit">Далее</button>
            {% if error_message %}
                <div style="color: red; font-weight: bold;">
                    {{ error_message }}
                </div>
            {% endif %}
        </form>
    </div>

    <div class="quick-routes">
        <div class="name">
            <h1>Популярные направления</h1>
        </div>

        <div class="route_link">
            <a class="route" href="/booking/Москва---Санкт-Петербург/">
                <div class="city city-left">
                    <img src="{% static 'image\sities\moscow.jpg' %}" alt="Москва">
                </div>
                <div class="city city-right">
                    <img src="{% static 'image\sities\piter.jpg' %}" alt="Санкт-Петербург">
                </div>
                <div class="route-title">Москва - Санкт-Петербург</div>
            </a>
        </div>

        <div class="route_link">
            <a class="route" href="/booking/Минеральные_Воды---Сочи/">
                <div class="city city-left">
                    <img src="{% static 'image\sities\minvodi.jpg' %}" alt="Минеральные Воды">
                </div>
                <div class="city city-right">
                    <img src="{% static 'image\sities\sochi.jpg' %}" alt="Сочи">
                </div>
                <div class="route-title">Минеральные Воды - Сочи</div>
            </a>
        </div>

        <div class="route_link">
            <a class="route" href="/booking/Краснодар---Нижний_Новгород/">
                <div class="city city-left">
                    <img src="{% static 'image\sities\krasnodar.jpg' %}" alt="Краснодар">
                </div>
                <div class="city city-right">
                    <img src="{% static 'image\sities\novgorod.jpg' %}" alt="Краснодар">
                </div>
                <div class="route-title">Краснодар - Нижний Новгород</div>
           </a>
        </div>

        <div class="route_link">
            <a class="route" href="/booking/Ставрополь---Ростов-на-Дону/">
                <div class="city city-left">
                    <img src="{% static 'image\sities\stavropol.jpg' %}" alt="Краснодар">
                </div>
                <div class="city city-right">
                    <img src="{% static 'image\sities\rostov.jpg' %}" alt="Краснодар">
                </div>
                <div class="route-title">Ставрополь - Ростов на Дону</div>
           </a>
        </div>

    </div>

    <div class="tariffs">
        <div class="name">
            <h1>Тарифы</h1>
        </div>
        <div class="carousel">
              <div class="carousel-track" id="track">
                  <div class="carousel-item" >
                      <div class="tariff-image"><img src="{% static 'image\tariffs\1tariff.png' %}" alt="Эконом класс"></div>
                      <div class="tariff-title"><h1>Эконом</h1></div>
                      <div class="tariff-info"><h5>Рено Логан<br>Дэу Джентра<br>Лада Веста</h5></div>
                      <div class="tariff-price"><h2>23 руб/км</h2></div>
                  </div>
                  <div class="carousel-item" >
                      <div class="tariff-image"><img src="{% static 'image\tariffs\2tariff.png' %}" alt="Стандарт класс"></div>
                      <div class="tariff-title"><h1>Стандарт</h1></div>
                      <div class="tariff-info">Хёндай Солярис<br>Фольцваген Поло<br>Киа Рио</div>
                      <div class="tariff-price"><h2>27 руб/км</h2></div>
                  </div>
                  <div class="carousel-item" >
                      <div class="tariff-image"><img src="{% static 'image\tariffs\3tariff.png' %}" alt="Комфорт класс"></div>
                      <div class="tariff-title"><h1>Комфорт</h1></div>
                      <div class="tariff-info">Шкода Октавиа<br>Тойота Королла<br>Фольцваген Джетта</div>
                      <div class="tariff-price"><h2>30 руб/км</h2></div>
                  </div>
                  <div class="carousel-item" >
                      <div class="tariff-image"><img src="{% static 'image\tariffs\4tariff.png' %}" alt="Минивэны"></div>
                      <div class="tariff-title"><h1>Минивэны <u>до 8чел.</u></h1></div>
                      <div class="tariff-info">Тойота Альфорд<br>Мерседес Вито<br>Хендай Старекс</div>
                      <div class="tariff-price"><h2>45 руб/км</h2></div>
                  </div>
                  <div class="carousel-item">
                      <div class="tariff-image"><img src="{% static 'image\tariffs\5tariff.png' %}" alt="Бизнес класс"></div>
                      <div class="tariff-title"><h1>Бизнес</h1></div>
                      <div class="tariff-info">БМВ 6<br>Мерседес S класс<br>Мерседес E класс</div>
                      <div class="tariff-price"><h2>50 руб/км</h2></div>
                  </div>
              </div>
              <button class="carousel-button prev" onclick="moveSlide(-1)">&#10094;</button>
              <button class="carousel-button next" onclick="moveSlide(1)">&#10095;</button>
        </div>
        <div class="carousel-indicators" id="indicators">
          <div class="indicator-bar active"></div>
          <div class="indicator-bar"></div>
          <div class="indicator-bar"></div>
          <div class="indicator-bar"></div>
          <div class="indicator-bar"></div>
        </div>


    </div>

    <div class="reviews">
        <div class="name">
            <h1>Ваши Отзывы</h1>
        </div>
        <div class="reviews-list">
            <div class="reviews-item">
                <div class="review-author"><h2>Генадий М.</h2></div>
                <p>___________________</p>
                <div class="review">
                    <p>Отличный сервис! Пользуюсь уже не в первый раз, всегда вовремя и удобно. Водители профессионалы, сервис на высоте.</p>
                </div>
                <div class="stars">★★★★★</div>
                <div class="ocenka"><img id="icon-review" src="{% static 'image\review.png' %}" alt="Telegram">5/5</div>
            </div>

            <div class="reviews-item">
                <div class="review-author"><h2>Дмитрий Т.</h2></div>
                <p>___________________</p>
                <div class="review">
                    <p>Очень удобно и быстро. Давно искал надежный способ добраться до нужного города, и этот сервис полностью оправдал мои ожидания.</p>
                </div>
                <div class="stars">★★★★☆</div>
                <div class="ocenka"><img id="icon-review" src="{% static 'image\review.png' %}" alt="Telegram">4/5</div>
            </div>
            <div class="reviews-item">
                <div class="review-author"><h2>Павел В.</h2></div>
                <p>___________________</p>
                <div class="review">
                    <p>Рекомендую всем! Дешево, надежно и комфортно. Не думал, что поездки могут быть такими удобными. Огромное спасибо!</p>
                </div>
                <div class="stars">★★★★★</div>
                <div class="ocenka"><img id="icon-review" src="{% static 'image\review.png' %}" alt="Telegram">5/5</div>
            </div>
        </div>
    </div>

    <script>
      const track = document.getElementById('track');
      const indicators = document.querySelectorAll('.indicator-bar');
      const items = Array.from(track.children);
      let currentIndex = 0;

      function updateView() {
        const offset = -currentIndex * 500;
        track.style.transform = `translateX(${offset}px)`;

        items.forEach((item, index) => {
            item.classList.remove('dimmed');
            item.classList.remove('hid');
            if (index < currentIndex || index > currentIndex ) {
              item.classList.add('dimmed');
            if (index < currentIndex - 1|| index > currentIndex + 1) {
                item.classList.add('hid');
            }

          }
        });

        indicators.forEach((ind, idx) => {
          ind.classList.toggle('active', idx === currentIndex);
        });
      }

      function moveSlide(step) {
        currentIndex += step;
        if (currentIndex < 0) currentIndex = 0;
        if (currentIndex >= items.length) currentIndex = items.length - 1;
        updateView();
      }

      updateView();
    </script>

{% endblock %}