{% extends "base/main.html" %}

{% block content %}
    {% load static %}
    <title>Vertical - Правила, Политика компании</title>
  <style>
    .rules {
      max-width: 1100px;
      width: 100%;
      margin: 0 auto;
    }
    .rules h2 {
      word-wrap: break-word;
    }
  </style>


    <div class="rules">
      <div class="PrivacyPolicy" id="PrivacyPolicy">
        <h1>Политика конфиденциальности <br> и обработки персональных данных</h1>
        <h1>-</h1>
        <div class="editor-content">
          {{ Article.PrivacyPolicy|safe }}
        </div>
        <br><br><br>
      </div>
      <div class="CompanyPolicy" id="CompanyPolicy">
        <h1>Правила перевозки в Вертикаль</h1>
        <h1>-</h1>
        <div class="editor-content">
          {{ Article.CompanyPolicy|safe }}
        </div>
        <br><br><br>
      </div>
      <div class="HelpTextToSupport" id="HelpTextToSupport">
        <h1>Инструкция обращения в Техническую Поддержку</h1>
        <h1>-</h1>
        <div class="editor-content">
          {{ Article.HelpTextToSupport|safe }}
        </div>
      </div>
    </div>

{% endblock %}
